{% block content %}
<form action="" method="POST">
		<input type ="text" name="value" placeholder="Add your next task.. ">
		<button type="submit">ADD</button>
</form>

	{% if items !=[] %}	
			<div class="col-md-1"></div>
			<div class="col-md-10">
					{% for i in items %}
						<div> 
							
							{% if i.deleted == 'false' %}
							<form action="{{url_for('delete', id = i.id) }}" method="POST">
									
							{{i.value}}
							<button type="submit" id="submit" type="submit">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
							</form>
							{% endif %}
						</div>
						
					{% endfor %}
					<p>---------------------------------------------------------------------</p>
					{% for i in items %}
						<div> 
							
							{% if i.deleted == 'true' %}
							<form action="{{url_for('recover', id = i.id) }}" method="POST">
									
                                <s><i>{{i.value}}</i></s>
							<button type="submit" id="submit" type="submit">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>add</button>
							</form>
							{% endif %}
						</div>
						
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
	{% endif %}


{% endblock %}